/* Variables */
:root {
    --blue-100: #cfe2ff;
    --blue-400: #3d8bfd;
    --blue-500: #0d6efd;
    --blue-600: #0a58ca;
    --blue-900: #031633;
}

/* General */
body {
    font-family: sans-serif;
}

/* Header */
header {
    background-color: var(--blue-500);
}

header img {
    filter: invert(100%);
}

.nav-link {
    color: white;
}

.nav-link:focus,
.nav-link:hover {
    background-color: var(--blue-600);
    color: white;
}

.navbar-nav .nav-link.show {
    color: white;
}

/* Main */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-100);
    padding-right: 1rem;
    padding-left: 1rem;
    height: 50vh;
}

.banner>p {
    margin: auto;
    font-size: 3rem;
    text-align: center;
}

.products {
    margin-bottom: 1rem;
}

.products>p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.content {
    margin-bottom: 1rem;
}

.content>p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
